
.conten{
    margin: auto;
    width: 80%;
   
}
/* bai viet */
.aside {
    color: burlywood;
    width: 30%;
    float: left;
   margin-left: 50px;
    
}
.aside .baiviet{
    float: left;
    margin: 20px;
}

.aside a{
    text-decoration: none;    
}
.aside .baiviet img{
    border-radius: 5px;
    width: 100px;
    height: 70px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
}
.e1  {
    float: left;
}
.e3{
    float: left;
}
.pet .baiviet p{
    float: left;
    font-size: 15px;
}


.tile h4{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: whitesmoke;   
    background-color: burlywood;
    height: 40px;
    padding-top: 20px;
    padding-left: 20px;

    border-radius: 20px;
}